<template>
  <!-- Release channels -->
  <div>
    <h2 class="h3 mt-5">Release channels</h2>
    <p class="mb-3">
      This device gets updates through these channels,
      <a
        class="underline"
        href="https://docs.ubports.com/en/latest/about/process/release-schedule.html"
        >learn more</a
      >
      about OTA updates
    </p>
    <div class="table-responsive">
      <b-table-lite striped :items="releaseChannels"></b-table-lite>
    </div>
  </div>
</template>

<script>
import { BTableLite } from "bootstrap-vue";

export default {
  name: "ReleaseChannels",
  components: {
    BTableLite
  },
  props: {
    releaseChannels: {
      type: Array,
      default: function () {
        return [];
      }
    }
  }
};
</script>
